/* CSS for the table */
table {
    width: 100%; /* Set table width to 100% of its container */
    border-collapse: collapse; /* Collapse table borders */
    /*margin-bottom: 20px;*/
}

/* CSS for table cells */
td, th {
    border: 1px solid #ddd; /* Add border to cells with a lighter shade */
    padding: 10px; /* Decrease padding for better spacing on mobile */
    text-align: left; /* Align text to the left within cells */
    font-size: 16px; /* Decrease font size for better readability on mobile */
}

/* CSS for table header */
th {
    background-color: #f2f2f2; /* Set background color for header cells */
}

/* Media query for mobile phones */
@media screen and (max-width: 600px) {
    td, th {
        padding: 8px; /* Further decrease padding for better spacing on smaller screens */
        font-size: 14px; /* Further decrease font size for better readability on smaller screens */

    }
}
