#leaderboardTitle{
    text-align: center;
}

#leaderboardTable {
    margin: auto;
    width: 50%;
    border: 1px solid blue;
}

#leaderboardTable th, #leaderboardTable td {
    border-bottom: 1px solid gray;
    text-align: left;
}


