* {
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: Papyrus, fantasy;
}

.logo {
    width: 10%;
    height: auto;
}

#header {
    background-color: #c7b198;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.arrow-icon a i{
    cursor: pointer;
    line-height:30px;
    font-size:20px;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    transform: scale(1);
}

.arrow-icon a:hover i{
    box-shadow: 0 0 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    transform: scale(1.2);
    cursor: pointer;
}

#leaderboardTitle{
    padding: 8px;
    width: 55%;
    margin: auto;
    background-color: #fffdd0;
    border: 5px solid darkred;
}

#leaderboardTable {
    margin: auto;
    width: 50%;
    border: 4px solid darkred;
    background-color: #fffdd0;
}

#leaderboardTable th{
    font-size: 18px;
}

#leaderboardTable td{
    font-size: 12px;
}

#leaderboardTable th, #leaderboardTable td {
    border-bottom: 3px solid darkred;
    text-align: left;
    font-weight: bold;
    padding: 1px;
}
#leaderboardBackground{
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.tab1{
    tab-size: 4;
    margin-left: 18px;
}
#leaderBoardDiv{
    border-bottom: 3px solid darkred;
}

.star{
    width: 8%;
}

#leaderboardSpan{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .logo {
        width: 20%;
        padding-left: 20px;
    }

    #header {
        padding: 5px 10px;
    }
    #leaderboardTitle {
        width: 95%;
        font-size: 16px;
    }

    #leaderboardTable {
        width: 95%;
        font-size: 10px;
    }

    #leaderboardTable th,
    #leaderboardTable td {
        font-size: 12px;
    }
}