
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

body {
    background-image: url("wallpaper1.jpeg");
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#background-pic {
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.content-container {
    position: relative;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    position: relative;
    margin-bottom: 35px;
}

/*pirate image*/

#pirateImg{
    width: 30%;
    height: auto;
}

.pirateText{
    position: absolute;
    margin-top: 5px;
    font-size: 20px;
    background-color: #fffdd0;
    border: 3px solid rebeccapurple;
    padding: 5px;
    border-radius: 5px;
}


/*MEDIA*/

@media (max-width: 768px) {

    .content-container {
        padding: 20px;
    }

    .feature-section, .twitter-widget, .custom-twitter-follow-button {
        margin-top: 15px;
    }

    #startButton {
        padding: 8px 16px;
    }

    #header .logo {
        width: 16vh;
    }

    .navbar a {
        font-size: 16px;
        margin: 0 10px;
    }

    .divider {
        margin: 0 5px;
        height: 15px;
    }

    #helpTab {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
    }

    .close {
        margin-top: -27%; !important
    }
}

/* Style the form  */
#startForm {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#startForm input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#submit {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #45a049;
}

#startForm h4 {
    margin-bottom: 10px;
    color: rebeccapurple;
}