body{
    font-family: Tahoma, sans-serif;
}

#subheading{
    color: #8B0000;
    font-weight: bold;
    text-decoration: underline;
}

#sButton{
    text-align: center;
}

#startButton{
    color: #8B0000;
    border: 2px solid #8B0000;
    font-size: 20px;
}

#projectAims{
    display: inline;
}

#challengesTitle{
    text-align: center;
}

#challenges{
    border-bottom: 2px solid black;
}

#challenges li{
    font-size: 20px;
    margin-left: -40px;
    padding: 20px 0 20px 0;
    text-align: center;
    list-style-type: none;
    border-top: 2px solid black;
}

#challenges a{
    text-decoration: none;
}

.pirate{
    margin-left: 100px;
}

#pirateImg{
    width: 100px;
    height: 120px;
}

.pirateText{
    font-size: 17px;
    position: absolute;
    border: 3px solid red;
    padding: 5px;
}