body {
    font-family: Tahoma, sans-serif;
    background-color: #F5F5F5;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.content-container {
    border: 2px solid #8B0000;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.content {
    text-align: center; /* Ensures text and inline elements are centered */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers flex items vertically in the container */
    width: 100%; /* Take the full width to respect the container's centering */
}

#subheading{
    color: #8B0000;
    font-weight: bold;
    text-decoration: underline;
}

#sButton{
    text-align: center;
}

/*start button style*/
#startButton{
    color: white;
    background: linear-gradient(45deg, #8B0000, #D52B1E);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

#startButton:hover{
    background: linear-gradient(45deg, #D52B1E, #8B0000);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    border: none;
}


#projectAims{
    display: inline;
}

#challenges{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

#challenges li {
    font-size: 18px;
    margin: 3% auto;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#challenges li:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#challenges a {
    color: #333;
    text-decoration: none;
    display: block;
}


#challenges a:hover {
    color: #ff5a49;
}

.pirate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    padding: 20px;
}

#pirateImg{
    /*width: 100px;*/
    /*height: 120px;*/
    max-width: 100px;
    height: auto;
}

.pirateText{
    margin-top: 10px;
    font-size: 17px;
    border: 3px solid red;
    padding: 5px;
    border-radius: 5px;
}

.twitter-widget {
    margin: auto;
    transform: scale(0.7);
    transform-origin: center;
}

.custom-twitter-follow-button {
    margin-top: 2%;
    display: inline-block;
    background-color: #1DA1F2;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.custom-twitter-follow-button:hover {
    background-color: #1A91DA;
}



/*MEDIA*/

@media (max-width: 600px) {
    .twitter-widget {
        transform: scale(0.7);
    }
}
