body{
    font-family: Tahoma, sans-serif;
}

#subheading{
    color: #8B0000;
    font-weight: bold;
    text-decoration: underline;
}

span p{
    display: inline;
}

#challengesTitle{
    text-align: center;
}

#challenges{
    border-bottom: 2px solid black;
}

#challenges li{
    font-size: 20px;
    margin-left: -40px;
    padding: 20px 0 20px 0;
    text-align: center;
    list-style-type: none;
    border-top: 2px solid black;
}

#challenges a{
    text-decoration: none;
}